@media screen and (max-width:499px){
  /* for small devices */
  .App2 {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows:minmax(70vh, auto);
    /* justify-content: stretch;
    align-content: stretch; */
    
   
  
    background: #323232;
  }
  
  
  
  
  
  .HomeChoreHeader{
    grid-column: 1;
    grid-row: 1;
    background-color: #323232;
    font-size: 1vw;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto;
    grid-template-areas: auto;
    color: #ffffff;
    font-family: Anton, sans-serif;
    
    
  }
  .HomeSidebar1{
  display: none;
  background-color: blue;
  
  }
  .HomeSidebar2{
    display: none;
    background-color: #141414;
  }
  .HomeChoreHeaderinner{
    grid-column: 1/4;
    grid-row: 1;
    background-color: #323232;
    
  }
  .CompletedChores{
    background-color: #323232;
    grid-column: 1;
    grid-row: 3;
    color:#9e9ea1;
    font-size: 6vw;
  }
  .CurrentChores{
    background-color: #323232;
    grid-column: 1;
    grid-row: 2;
    color:#9e9ea1;
    font-size: 6vw;
    
  
  }
  .AddChores{
    background-color: #323232;
    grid-column: 1;
    grid-row: 1;
  }
  
  .choreButton {
    transition: .5s ease;
  }
  .choreButton:hover{
    opacity: 0.1;
  }
  .addChoresBox{
    background-color: #323232;
    color: #323232;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    width: 50vw;
    height: 12vw;
    font-size: 8vw;
    font-family: Anton, sans-serif;
    border: 1px white solid ;
  }
  .addChoresButton{
    width:35vw;
    height: 12vw;
    font-size: 8vw;
    color: #323232;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    
    font-family: Anton, sans-serif;
    background-color: #323232;
    border: 1px white solid ;
  }
  button{
    font-size: 8vw;
  }
}
  
  
@media screen and (max-width: 768px) and (min-width:500px)   {
/* for tablets */
.App2 {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  display: grid;
  grid-template-columns: auto auto auto ;
  grid-template-rows:minmax(70vh, auto);
  /* justify-content: stretch;
  align-content: stretch; */
  
 

  background: #323232;
}





.HomeChoreHeader{
  grid-column: 2/5;
  grid-row: 1;
  background-color: #323232;
  font-size: 1vw;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-areas: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  color: #ffffff;
  font-family: Anton, sans-serif;
  
  
}
.HomeSidebar1{
display: none;
background-color: blue;

}
.HomeSidebar2{
  display: none;
  background-color: white;
}
.HomeChoreHeaderinner{
  grid-column: 1/4;
  grid-row: 1;
  background-color: #323232;
  
}
.CompletedChores{
  background-color: #323232;
  grid-column: 1/1;
  grid-row: 2/7;
  color:#9e9ea1;
  font-size: 2vw;
}
.CurrentChores{
  background-color: #323232;
  grid-column: 2/2;
  grid-row: 2/7;
  color:#9e9ea1;
  font-size: 2vw;
  

}
.AddChores{
  background-color: #323232;
  grid-column: 3/3;
  grid-row: 2/7;
}

.choreButton {
  transition: .5s ease;
}
.choreButton:hover{
  opacity: 0.1;
}
.addChoresBox{
  background-color: #323232;
  color: #323232;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  width: 15vw;
  height: 3vw;
  font-size: 2vw;
  font-family: Anton, sans-serif;
  border: 1px white solid ;
}
.addChoresButton{
  width:8vw;
  height: 3vw;
  font-size: 1.5vw;
  color: #323232;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  
  font-family: Anton, sans-serif;
  background-color: #323232;
  border: 1px white solid ;
}

}

@media screen and (min-width: 769px) {
  /* For desktop: */
.App2 {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    display: grid;
    grid-template-columns: 14vw 24vw 24vw 24vw auto ;
    grid-template-rows:minmax(70vh, auto);
    /* justify-content: stretch;
    align-content: stretch; */
    
   
  
    background: #8DF308;
  }
  
  .HomeSidebar1{
    grid-column: 1;
    grid-row: 1;
  background-color: #323232;
  font-size: 1vw;
  
  }
  .HomeSidebar2{
    grid-column: 5;
    grid-row: 1;
  background-color: #323232;
  font-size: 1vw;
  
  }
  .HomeChoreHeader{
    grid-column: 2/5;
    grid-row: 1;
    background-color: #323232;
    font-size: 1vw;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-areas: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    color: #ffffff;
    font-family: Anton, sans-serif;
    
    
  }
  .HomeChoreHeaderinner{
    grid-column: 1/4;
    grid-row: 1;
    background-color: #323232;
    
  }
  .CompletedChores{
    background-color: #323232;
    grid-column: 1/1;
    grid-row: 2/7;
    color:#9e9ea1;
    font-size: 2vw;
  }
  .CurrentChores{
    background-color: #323232;
    grid-column: 2/2;
    grid-row: 2/7;
    color:#9e9ea1;
    font-size: 2vw;
    

  }
  .AddChores{
    background-color: #323232;
    grid-column: 3/3;
    grid-row: 2/7;
  }

  .choreButton {
    transition: .5s ease;
  }
  .choreButton:hover{
    opacity: 0.1;
  }
  .addChoresBox{
    background-color: #323232;
    color: #323232;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    width: 15vw;
    height: 3vw;
    font-size: 2vw;
    font-family: Anton, sans-serif;
    border: 1px white solid ;
  }
  .addChoresButton{
    width:8vw;
    height: 3vw;
    font-size: 1.5vw;
    color: #323232;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    
    font-family: Anton, sans-serif;
    background-color: #323232;
    border: 1px white solid ;
  }
}
  
  